.header {
  margin-top: 55px;
}

.header__decor {
  display: none;
}

.header__wrapper {
  max-width: 1000px;
  height: 100px;
  margin: auto;
  position: relative;
}

.header__logos {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.header__logos a {
  height: 80px;
  width: 80px;
}

.header .header__logos.light img {
  filter: invert(0%) sepia(97%) saturate(5461%) hue-rotate(307deg) brightness(117%) contrast(94%);
}

.header .switch {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #F1C396;
  transition: all 0.5s;
}

.header .switch__point {
  background-image: url(../img/SVG/moon.svg);
  background-size: 50%;
  background-position: center left 40%;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  transition: all 0.5s;
}

.header .switch__point.light {
  left: 65px;
  background-image: url(../img/SVG/sun.svg);
  background-position: center center;
}

.header .switch__theme {
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.header .switch__theme.light {
  right: 50px;
}

.header .switch.light {
  background-color: #F2C76B;
}

@font-face {
  font-family: Caveat;
  font-display: swap;
  src: url("../fonts/Caveat.woff2") format("woff2"), url("../fonts/Caveat.ttf2") format("ttf2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Circe;
  font-display: swap;
  src: url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.ttf2") format("ttf2");
  font-weight: 400;
  font-style: normal;
}

.title {
  text-align: center;
  margin-top: 50px;
}

.title h1 {
  font-size: 90px;
  color: white;
  margin: 0;
}

.title h2 {
  font-size: 60px;
  color: #F1C396;
  margin: 0;
}

.title h1,
.title h2 {
  transition: all 0.5s;
}

.title.light h1 {
  color: black;
}

.title.light h2 {
  color: #F2C76B;
}

.team {
  margin-top: 180px;
  padding-bottom: 100px;
}

.team__wrapper {
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 160px;
}

.team__member {
  min-height: 540px;
  width: 600px;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s;
  border: 2px solid white;
}

.team__member.animated {
  opacity: 1;
  transform: translateY(0px);
}

.team .tr-delay {
  transition-delay: 0.2s;
}

.team__button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #F1C396;
  font-size: 30px;
  text-decoration: underline;
  background: none;
  font-family: Caveat;
  border: none;
  cursor: pointer;
}

.team__border {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 520px;
  border: 2px solid white;
  transition: all 0.5s;
}

.team__decor {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 30px;
  top: 30px;
}

.team__photo {
  width: 210px;
  height: 310px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 30px;
  top: -95px;
  z-index: 2;
  transition: background-image 1s ease-in-out;
}

.team__photo .photo-1,
.team__photo .photo-2 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.team__photo .photo-1 {
  z-index: 5;
  transition: all 0.5s;
}

.team__photo .photo-2 {
  opacity: 0;
  transition: all 0.5s;
}

.team__photo img {
  width: 90px;
  height: 100px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 6;
}

.team__photo:hover .photo-1 {
  z-index: 4;
  opacity: 0;
}

.team__photo:hover .photo-2 {
  opacity: 1;
  z-index: 5;
}

.team__firstName,
.team__secondName {
  color: #F1C396;
  font-size: 56px;
  display: block;
  padding-left: 300px;
}

.team__firstName {
  margin-top: 60px;
}

.team__secondName {
  margin-bottom: 40px;
}

.team__description {
  max-width: 485px;
  margin: auto;
  font-size: 18px;
  line-height: 140%;
  color: white;
  transition: all 0.5s;
  padding-bottom: 80px;
}

.team__description.light {
  color: black;
}

.team.light button {
  color: #F2C76B;
}

.team.light p {
  color: black;
}

.team.light .team__member {
  border: 2px solid #F2C76B;
}

.popup {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 550px;
  background: white;
  z-index: 5;
  transition: all 1s;
}

.popup .email {
  visibility: hidden;
}

.popup span {
  color: #F1C396;
  display: block;
  font-size: 48px;
  text-align: center;
  margin-top: 30px;
}

.popup .close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.popup .close::before,
.popup .close::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #F1C396;
  transform: rotate(45deg);
  top: 50%;
}

.popup .close::after {
  transform: rotate(135deg);
}

.popup form {
  width: 700px;
  margin: auto;
  margin-top: 15px;
}

.popup__text {
  width: 100%;
  height: 150px;
  border: 2px solid #F1C396;
  outline: none;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
}

.popup__name {
  display: flex;
  justify-content: space-between;
}

.popup__name p {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: relative;
}

.popup__name .name {
  outline: none;
  border: 2px solid #F1C396;
  height: 35px;
  width: 300px;
  padding-left: 10px;
}

.popup__name .checkbox {
  width: 30px;
  margin: 0;
  height: 30px;
  outline: none;
  opacity: 0;
}

.popup__name .custom-checkbox {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3px;
  right: 0;
  margin: 0;
  z-index: -1;
}

.popup__name .custom-checkbox::before {
  content: "";
  position: absolute;
  left: -1px;
  width: 30px;
  height: 30px;
  border: 1px solid #F1C396;
}

.popup__name .custom-checkbox::after {
  content: "";
  background-image: url("../img/SVG/checked.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
  display: block;
  width: 38px;
  height: 23px;
  left: 2px;
  bottom: 6px;
  opacity: 0;
}

.popup__name .checkbox:checked + .custom-checkbox::after {
  opacity: 1;
}

.popup__list p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.popup__list .select {
  height: 35px;
  border: 2px solid #F1C396;
  flex: 1;
  outline: none;
  padding-left: 10px;
}

.popup__send {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.popup__send .captcha-block {
  position: relative;
  width: 350px;
  height: 65px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
}

.popup__send .captcha-block input {
  width: 25px;
  height: 25px;
}

.popup__send .captcha-block p {
  display: flex;
  align-items: center;
  padding-left: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.popup__send .captcha-block img {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.popup__send .captcha-block .captcha-links {
  position: absolute;
  bottom: 2px;
  right: 10px;
}

.popup__send .captcha-block .captcha-links a {
  text-decoration: none;
  color: grey;
  font-size: 8px;
  font-family: Circe;
}

.popup__send .submit {
  cursor: pointer;
  height: 40px;
  font-family: Caveat;
  background: #F1C396;
  color: black;
  border: none;
  font-size: 30px;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: Caveat;
  background-image: url(../img/1x/Bg-dark.png);
  background-repeat: repeat;
  background-position-x: center;
  background-size: 100% auto;
  transition: background-image 1s ease-in-out;
  min-height: 100vh;
}

.body.light {
  background-image: url(../img/1x/Bg-light.png);
}

h1,
p {
  font-family: Circe;
}

@media screen and (max-width: 1200px) {
  .team__wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .popup {
    width: calc(100% - 100px);
    height: 650px;
  }

  .popup p {
    font-size: 12px;
  }

  .popup span {
    font-size: 24px;
  }

  .popup form {
    width: calc(100% - 50px);
  }

  .popup__name {
    align-items: center;
    flex-direction: column;
  }

  .popup__send {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}

@media screen and (max-width: 650px) {
  .header.light {
    background: rgba(255, 255, 255, 0.5);
  }

  .header.light .header__decor {
    background-image: url(../img/1x/snowman.png);
    right: 25px;
    top: 20px;
  }

  .header {
    margin: 0;
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
  }

  .header__decor {
    display: block;
    position: absolute;
    width: 120px;
    height: 150px;
    background-repeat: no-repeat;
    background-image: url(../img/1x/snowflake.png);
    background-size: auto;
    right: 0;
    top: -25px;
    transition: all 0.5s;
  }

  .header__wrapper {
    height: 100%;
  }

  .header__logos {
    position: relative;
    top: 140px;
  }

  .header .switch {
    left: 10px;
    right: auto;
  }

  .title {
    margin-top: 225px;
  }

  .title h1 {
    font-size: 62px;
  }

  .title h2 {
    font-size: 48px;
  }

  .team__member {
    width: calc(100% - 50px);
    min-height: 300px;
  }

  .team__firstName,
  .team__secondName {
    font-size: 30px;
    padding-left: 55%;
  }

  .team__photo {
    width: 160px;
    height: 240px;
  }

  .team__description {
    width: calc(100% - 60px);
    font-size: 16px;
  }

  .body {
    background-image: url(../img/1x/bg-dark-mobile.png);
    background-size: contain;
    background-repeat: repeat;
  }

  .body.light {
    background-image: url(../img/1x/bg-light-mobile.png);
  }
}

@media screen and (max-width: 500px) {
  .popup {
    width: calc(100% - 30px);
  }

  .popup__name {
    align-items: center;
    flex-direction: column;
  }

  .popup__name p:first-child {
    font-size: 14px;
    flex-direction: column;
    row-gap: 5px;
  }

  .popup__name .name {
    width: 280px;
  }

  .popup__list p {
    flex-direction: column;
    row-gap: 5px;
    font-size: 14px;
  }

  .popup__list .select {
    flex: auto;
    width: 280px;
  }

  .popup__send {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .popup__send .captcha-block {
    width: 280px;
  }
}

@media screen and (max-width: 450px) {
  .header.light {
    background: rgba(255, 255, 255, 0.5);
  }

  .header.light .header__decor {
    background-image: url(../img/1x/snowman.png);
    right: 0px;
    top: 40px;
    background-size: contain;
    width: 80px;
    height: 100px;
  }

  .title h1 {
    font-size: 42px;
  }

  .title h2 {
    font-size: 36px;
  }

  .team__member {
    width: calc(100% - 50px);
    min-height: -300px;
  }

  .team__firstName,
  .team__secondName {
    font-size: 30px;
    padding-left: 55%;
  }

  .team__photo {
    width: 110px;
    height: 160px;
    top: -60px;
  }

  .team__photo img {
    width: 50px;
    height: 65px;
  }

  .team__description {
    width: calc(100% - 60px);
    font-size: 14px;
  }

  .team__decor {
    width: 25px;
    height: 25px;
    right: 10px;
    top: 10px;
  }

  .team__firstName {
    margin-top: 30px;
  }

  .team__firstName,
  .team__secondName {
    font-size: 28px;
  }

  .team__secondName {
    margin-bottom: 40px;
  }

  .team__border {
    min-height: 510px;
  }
}